<!-- <form action="/session" id="login_form">	-->
<% @keys = RsaForm.keys %>
<% form_tag session_path,:id=>'rsa_login_form' do -%>

  Username:<br />
  <input id="rsa_username" name="login" value="" size="30" type="text" /><br /><br />

  Password:<br />
  <table id="rsa_keyboard">
      <td colspan=4><input id="rsa_password" name="password" value="" size="30" type="password">
    <tr>
      <td><img class="pbutton" src="/images/<%=@keys[0]%>"></td>
      <td><img class="pbutton" src="/images/<%=@keys[1]%>"></td>
      <td><img class="pbutton" src="/images/<%=@keys[2]%>"></td>	
      <td><img class="pbutton" src="/images/<%=@keys[3]%>"></td>					
    <tr>
      <td><img class="pbutton" src="/images/<%=@keys[4]%>"></td>
      <td><img class="pbutton" src="/images/<%=@keys[5]%>"></td>
      <td><img class="pbutton" src="/images/<%=@keys[6]%>"></td>	
      <td><img class="pbutton" src="/images/<%=@keys[7]%>"></td>			
    <tr>
      <td><img class="pbutton" src="/images/<%=@keys[8]%>"></td>
      <td><img class="pbutton" src="/images/<%=@keys[9]%>"></td>
      <td><img class="pbutton" src="/images/<%=@keys[10]%>"></td>	
      <td><img class="pbutton" src="/images/<%=@keys[11]%>"></td>	
  </table>

  <br />
  <input id="rsa_loginButton" name="commit" value="Log In" type="submit" />
<% end -%>